/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 112 / 126 / 142 / 158 / 176 / 194 / 214 / 234
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --font-color: #333;
  --grey-text: #999999;
  --grey-background: #f8f9fa;
  --purple: #9775fa;
  --light-shadow: 0 0 3px rgba(0, 0, 0, 0.068);
  --tools-logo-size: calc(1em + 1vh + 0.5vw);
  --social-links-size: calc(1em + 1vh + 0.5vw);
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  scroll-behavior: smooth;
}

header {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 4em;
  font-weight: 700;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

header p {
  font-size: 2rem;
}

section {
  scroll-margin-top: 7rem;
  margin: 8rem 0;
}

body {
  color: var(--font-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:active,
a:visited {
  color: var(--font-color);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-links li a {
  background-color: var(--purple);
  padding: 0.6em 1em;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  transition: all 0.2s;
}

.nav-links li a:hover {
  background-color: #ac91fb;
}

/* .nav-links li a[href='#contact'] {
  margin-right: 2.4rem;
} */

.language-flag {
  display: flex;
  font-size: 3rem;
  background: unset !important;
  padding: unset !important;
  transition: all 0.2s;
}

.language-flag:active {
  transform: scale(0.9);
}

.side-padding {
  max-width: 135rem;
  margin: 0 auto;
  padding: 3rem;
}

#home,
#contact {
  background-color: var(--grey-background);
}

h1 {
  color: var(--purple);
}

h2 {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: rgba(0, 0, 0, 0.095) solid 1px;
  border-color: var(--purple);
  padding-bottom: 1.6rem;
  margin-bottom: 9.6rem;
}

h4 {
  text-align: center;
  margin-bottom: 2.4rem;
  letter-spacing: 1px;
}

.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
  font-size: 2.5rem;
  display: grid;
  gap: 4.8rem;
  justify-items: center;
}

/* ABOUT */
article {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

article h3 {
  font-size: 2rem;
  font-weight: 600;
}

article p {
  font-size: 1.6rem;
  color: var(--font-color);
  /* font-weight: 500; */
}

/* SKILLS */
.assets-container {
  display: grid;
  gap: 6.4rem;
  padding: 1em;
  border-radius: 10px;
  background-color: white;
  box-shadow: var(--light-shadow);
}

.assets-container section {
  margin: unset;
}

.tools-list,
.tools-list-smaller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.tools-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.6rem;
  background-color: var(--grey-background);
  color: var(--font-color);
  padding: 0.5em 1.2em;
  border-radius: 10px;
  font-weight: 600;
}

.tools-list-smaller li {
  display: flex;
}

.tools-list ion-icon,
.tools-list-smaller ion-icon {
  font-size: var(--tools-logo-size);
}

/* LOGO */
.logo {
  height: var(--tools-logo-size);
}

img[alt='Logo Mairie de Paris'],
img[alt='Logo école web 3W Academy'],
img[alt='Logo Udemy'] {
  width: 100%;
}
ion-icon[name='logo-html5'] {
  color: #e44d26;
}
ion-icon[name='logo-html5'] {
  color: #e44d26;
}
ion-icon[name='logo-css3'] {
  color: #2965f1;
}
ion-icon[name='logo-javascript'] {
  color: #f0db4f;
}
ion-icon[name='logo-react'] {
  color: #61dbfb;
}
ion-icon[name='git-branch-outline'] {
  color: #f1502f;
}
ion-icon[name='logo-github'] {
  color: var(--font-color);
}
ion-icon[name='logo-linkedin'] {
  color: #0a66c2;
}
.shadcnui-logo {
  border-radius: 100%;
  padding: 0.4rem;
  background-color: #000000;
  height: calc(0.7em + 1vh + 0.5vw);
}

.qualifications-list {
  display: grid;
  gap: 3.2rem;
}

.qualifications-list li {
  display: grid;
  grid-template-columns: 2.2rem 1fr;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
}

.qualifications-list p {
  font-weight: 500;
}

.qualifications-list a {
  text-decoration: underline;
  color: var(--grey-text) !important;
  font-size: 1.4rem;
  transition: all 0.2s;
}
.qualifications-list a:hover {
  color: rgb(192, 192, 192) !important;
}
.school {
  position: relative;
  grid-template-columns: 2.2rem 1fr auto !important;
}

/* PROJECTS */
.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.project-header ion-icon {
  margin-inline: -1rem;
}
.project-header ion-icon[name='logo-github'] {
  display: flex;
  transition: all 0.2s;
}
.project-header ion-icon[name='logo-github']:active {
  transform: scale(0.9);
}

.info-icon {
  font-size: 2.4rem;
  opacity: 0.2;
  border: unset;
  background: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.projects-list > li {
  display: grid;
  text-align: center;
  border-radius: 10px;
  padding: 0.5em 1em;
  background-color: var(--grey-background);
  box-shadow: var(--light-shadow);
  transition: all 0.2s;
}
.projects-list > li:hover {
  transform: translateY(-7px);
}

.projects-list h4 {
  margin-bottom: 0.6rem;
}

.projects-list h5 {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: unset;
}

.projects-thumbnail {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.056);
  cursor: pointer;
  text-align: center;
  margin: 4.2rem 0;
  transition: all 0.2s;
}

.projects-thumbnail:active {
  transform: scale(0.97);
}

/* RECOMMENDATION */
.recommendations-list {
  display: flex;
  position: relative;
  max-width: 75%;
  margin: 0 auto;
}

.recommendations-list li img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.068);
}
.recommendations-list li ion-icon[name='logo-linkedin'] {
  position: absolute;
  font-size: var(--tools-logo-size);
  top: 1rem;
  margin-left: -4rem;
}

/* CONTACT */
.contact-section {
  margin-bottom: 0;
}
.contact-form {
  max-width: 50%;
  margin-inline: auto;
}
.feedback-input {
  font-weight: 400;
  font-size: 1.8rem;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid var(--purple);
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  outline: 0;
  transition: all 0.2s;
}
.feedback-input:focus {
  border: 2px solid #6e46e9;
}
textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
.contact-form button {
  width: 100%;
  background: var(--purple);
  border-radius: 10px;
  border: unset;
  color: white;
  font-size: 2rem;
  padding: 10px 0 10px 0;
  margin-top: -4px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}
.contact-form button:hover {
  background: #ac91fb;
}

.contact-links {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.contact-links li {
  border-radius: 10px;
  transition: all 0.2s;
}
.contact-links li:hover {
  background-color: #dfe0e1;
}
.contact-links a > * {
  display: flex;
  padding: 1rem;
}
.contact-links ion-icon {
  font-size: var(--social-links-size);
}
.contact-links img[alt='CV de Lucas Amsellem'] {
  height: var(--social-links-size);
  box-sizing: unset;
}

/* DYNAMIC */
.hidden {
  opacity: 0;
  pointer-events: none;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  font-size: 1.2rem;
  width: fit-content;
  text-wrap: nowrap;
  background-color: var(--font-color);
  color: #fff;
  border-radius: 10px;
  padding: 0.3em 1em;
  z-index: 999;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  transition: all 0.4s;
}

.tooltip:hover .tooltiptext {
  opacity: 100;
}

.popup {
  top: 3rem;
  right: -1rem;
  position: absolute;
  max-width: 25rem;
  font-size: 1.4rem;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: left;
  transition: all 0.3s;
}

/* Responsive Design */
@media (max-width: 910px) {
  header {
    font-size: 1.4rem;
    padding: 1em 2em;
  }

  section {
    margin: 6rem 0;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 6rem;
  }

  .grid-2-col,
  .grid-3-col {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  /* .projects-thumbnail {
    width: 90%;
  } */

  .recommendations-list {
    max-width: 100%;
  }
  .contact-form {
    max-width: 75%;
  }
}

/* PHONE */
@media (max-width: 725px) {
  html {
    font-size: 50%;
  }
  header {
    font-size: 1.6rem;
    padding: 1em 2em;
    justify-content: center;
  }

  header > p {
    display: none;
  }

  .nav-links li a[href='#contact'] {
    margin-right: unset;
  }

  .grid-2-col,
  .grid-3-col {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
}
