/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 112 / 126 / 142 / 158 / 176 / 194 / 214 / 234
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-color: #333;
  --grey-text: #999999;
  --grey-background: #f8f9fa;
  --purple: #9775fa;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

header {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 4em;
  font-weight: 700;
  background-color: white;
  text-transform: uppercase;

  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

section {
  scroll-margin-top: 7.5rem;
  margin: 8rem 0;
}

body {
  /* background-color: var(--grey-background); */
  color: var(--font-color);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.nav-items {
  display: flex;
  gap: 4.8rem;
}

.nav-items li a {
  background-color: var(--purple);
  padding: 0.6em 1em;
  border-radius: 10px;
  color: white;
  transition: all 0.2s;
}

a:active,
a:visited {
  color: var(--font-color);
}
.nav-items li a:hover {
  background-color: #ac91fb;
}

.side-padding {
  max-width: 135rem;
  margin: 0 auto;
  padding: 3rem;
}

#accueil,
#contact {
  background-color: var(--grey-background);
}

h1 {
  color: var(--purple);
}

h2 {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: rgba(0, 0, 0, 0.095) solid 1px;
  border-color: var(--purple);
  padding-bottom: 1.6rem;
  margin-bottom: 9.6rem;
}

h4 {
  text-align: center;
  margin-bottom: 2.4rem;
  letter-spacing: 1px;
}

.grid-2-col,
.grid-3-col {
  font-size: 2.5rem;
  display: grid;
  gap: 4.8rem;
  justify-items: center;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}
.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

/* ABOUT */

.about-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.about-container h3 {
  font-size: 2rem;
  font-weight: 700;
}

.about-container p {
  font-size: 1.6rem;
  color: var(--grey-text);
}

.cv-link {
  text-decoration: underline;
}

/* SKILLS */

.skills-container {
  position: relative;
  display: grid;
  gap: 6.4rem;
  padding: 1em;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.068);
}

.skills-arrow {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.skills-logos,
.skills-logos-smaller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.skills-logos li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.6rem;
  background-color: var(--grey-background);
  color: var(--font-color);
  padding: 0.5em 1.5em;
  border-radius: 10px;
  font-weight: 600;
}

.skills-logos li ion-icon,
.skills-logos-smaller ion-icon {
  font-size: calc(1em + 1vh + 0.5vw);
}

/* LOGO */

.skills-logos-smaller li {
  display: inline-block;
}
.logo {
  height: calc(1em + 1vh + 0.5vw);
}

.mairie-paris-logo,
.ep-logo,
.school-logo,
.udemy-logo {
  width: 100%;
}

.logo-html {
  color: #e44d26;
}
.logo-css {
  color: #2965f1;
}
.logo-js {
  color: #f0db4f;
}
.logo-react {
  color: #61dbfb;
}
.logo-git {
  color: #f1502f;
}

.qualifications-list {
  display: grid;
  gap: 3.2rem;
}

.qualifications-list li {
  display: grid;
  grid-template-columns: 2.2rem 1fr;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
}

.certificate {
  text-decoration: underline;
  color: var(--grey-text) !important;
  font-size: 1.4rem;

  transition: all 0.2s;
}
.certificate:hover {
  color: rgb(192, 192, 192) !important;
}
.education-container {
  position: relative;
}

/* PROJETS */
.info-icon {
  position: absolute;
  font-size: 2.4rem;
  opacity: 0.2;
  border: unset;
  background: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.info-icon-project {
  top: 1rem;
  right: 1rem;
}
.info-icon-school {
  top: 0.8rem;
  right: 1rem;
}

.projets-container > div {
  display: grid;
  position: relative;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 1em;
  background-color: var(--grey-background);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.068);

  transition: all 0.2s;
}
.projets-container > div:hover {
  transform: translateY(-7px);
}

.projets-container h4 {
  margin-bottom: 0.6rem;
}

.projets-description {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: unset;
}

.projets-thumbnail {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.056);
  cursor: pointer;
  text-align: center;
  margin: 4.2rem 0;

  transition: all 0.2s;
}

.projets-thumbnail:active {
  transform: scale(0.97);
}

/* CONTACT */

.contact-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.contact-section {
  margin-bottom: 0;
}

.link-github {
  color: var(--font-color);
}
.link-mail {
  color: var(--purple);
}
.link-linkedin {
  color: #0a66c2;
}
.contact-links {
  font-size: calc(3em + 2vh + 0.5vw);
  transition: all 0.2s;
}
.contact-links:active {
  transform: scale(0.9);
}

/* DYNAMIC */
.hidden {
  opacity: 0;
  pointer-events: none;
}

.info-container {
  position: absolute;
  max-width: 25rem;
  font-size: 1.4rem;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: left;

  transition: all 0.3s;
}

.historical-events-project-info {
  top: 4rem;
  right: 1rem;
}
.school-info {
  top: 4rem;
  right: 1rem;
}

/* Responsive Design */
@media (max-width: 910px) {
  header {
    font-size: 1.4rem;
    padding: 1em 2em;
  }

  .nav-items {
    gap: 2.4rem;
  }

  section {
    margin: 6rem 0;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 6rem;
  }

  .grid-2-col,
  .grid-3-col {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .projets-thumbnail {
    width: 90%;
  }

  .mail {
    font-size: 1.6rem;
  }
}

/* PHONE */
@media (max-width: 725px) {
  html {
    font-size: 50%;
  }
  header {
    font-size: 1.6rem;
    padding: 1em 2em;
    flex-direction: column;
  }

  .name-header {
    display: none;
  }

  .nav-items {
    gap: 2.4rem;
  }

  .grid-2-col,
  .grid-3-col {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
}
